---
layout: default
permalink: /categories/
title: Categorías
---

<div class="page-navigation">
  Ordenar por: <a class="home" href="{{site.baseurl}}/" title="inicio">Fecha</a> | <b>Categoría</b>
</div>

<section>
{% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h3>{{category_name}}</h3>
  {% for post in site.categories[category_name] %}
    <ul>
      <li>
        <div class="post-date">
          <span>{{ post.date | date: "%d %b %Y" }}</span>
        </div>
        <div class="title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
      </li>
    </ul>
  {% endfor %}
{% endfor %}
</section>
